<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @content.title %>
</p>

<p>
  <b>Body:</b>
  <%= @content.body %>
</p>


<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
