<li>
<a href="<%= photo.image.url(:medium) %>">
    <h4><%= photo.title %></h4>
    <%= image_tag photo.image.url(:thumb), :alt => photo.title %>
    <div class="caption"><%= photo.caption %><div>
  </a>
  <% if can? :update, photo %>
    <div class="admin">
      <%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_photo_url(photo), :class => "btn btn-mini" %>
      <% if can? :destroy, photo %>
        <%= link_to '<i class="icon-remove-circle icon-white"></i> Delete'.html_safe, photo_url(photo), :method => "delete", :confirm => "Are you sure you want to delete #{photo.title}?", :class => "btn btn-mini btn-danger" %>
      <% end %>
    </div>
  <% end %>
</li>

