<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <%= f.fields_for :photos do |p| %>
    <fieldset class="photo">
      <h3>Photo:</h3>
      <div class="field">
        <%= p.label :title, "Photo Title" %>
        <%= p.text_field :title %>
      </div>
      <div class="field">
        <%= p.label :image, "File Upload" %>
        <%= p.file_field :image %>
      </div>
      <div class="field">
        <%= p.label :caption, "Photo Caption" %>
        <%= p.text_field :caption %>
      </div>
    </fieldset>
  <% end %>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit :disable_with => "Saving..." %>
  </div>
<% end %>
