<ul id="tabs">
	<li><a>Blog</a></li>
</ul>

<section id="blog">
	<ul id="admin_subnav">
		<li><%= link_to "Create a new blog post", new_post_path %></li>
	</ul>
	<table id="admin">
		<thead>
			<tr>
				<th>Title</th>
				<th>Published?</th>
				<th>Admin</th>
			</tr>
		</thead>
		<tbody>
			<% @posts.each do |post| %>
				<tr>
					<td><%= link_to post.title, post %></td>
					<td><%= post.published? %></td>
					<td><%= link_to "Edit", edit_post_path(post) %> | <%= link_to 'Delete', post, :confirm => 'Are you sure you want to delete the post titled "#{post.title}"?', :method => :delete %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</section>