<nav>
    <ul id="nav" class="nav">
        <% if user_signed_in? && (current_user.role? :admin) %>
            <li><%= link_to "User Admin", users_path %></li>
        <% end %>
        <% if user_signed_in? && ((current_user.role? :author) || (current_user.role? :uploader)) %>
            <li id="actions" class="actions dropdown">
                <a href="" id="contribute" class="contribute">Contribute</a> 
                <ul>
                    <%= link_to "New blog post", new_post_path if current_user.role? :author %>
                    <%= link_to "Upload a photo", photos_path if current_user.role? :uploader %>
                </ul>
            </li>
        <% end %>
        <li id="about" class="about dropdown">
            <a href="/about">About</a>
            <ul>
                <li><a href="">Copyright</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms and Conditions</a></li>
            </ul>
        </li>
        <li id="usernav" class="usernav dropdown">
            <% if user_signed_in? %>
                <%= link_to current_user.name, user_path(current_user), :id => "profile_dropdown" %>
                <ul> 
                    <li><%= link_to "Edit Profile", edit_user_registration_path %></li> 
                    <li><%= link_to "Sign out", destroy_user_session_path, :method => "delete" %></li>
                </ul>
            <% else %>
                <%= link_to t("links.signup_signin"), new_user_session_path %></li>
            <% end %>
        </li>
    </ul>
</nav>
