<% if user_signed_in? && (current_user.role? :commenter) %>
	<%= simple_form_for Comment.new, :url => parent_url_string do |f| %>
	    <%= f.label t('labels.post_a_comment') %>
		<%= f.input :body %>
		<p><%= f.submit t('buttons.create_comment') %></p>
	<% end %>
<% else %>
  <% if user_signed_in? %>
    <h4>You must be logged in to comment</h4>
    <%= link_to "Sign in", new_user_session_path %>
    or
    <%= link_to 'sign up', new_user_registration_path %> to comment.</p>
  <% else %>
    <p>Commenting is turned off.</p>
  <% end %>
<% end %>

