<%= render :partial => 'layouts/head' %>

<body id="<%= action_name %>" class="<%= controller_name %>">
	<%= render 'layouts/header' %>
	
	<div class="container">
		<%= render :partial => 'layouts/nav' %>
		
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
		
		<div id="main" class="clearfix">			
			<section id="content">		
				<%= yield %>
			</section>
			
			<section id="sidebar">
				<%= (sidebar = yield(:sidebar)).present? ? sidebar : render("layouts/sidebar") %>
			</section>
		</div>
		<%= render :partial => 'layouts/bottom_links' %>

		<%= render :partial => 'layouts/footer' %>
	</div>
</body>
</html>
